html {
    font-family: helvetica, sans-serif;
}

body {
    margin: 0;
}

.silly-story-generator {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    max-width: 500px;
    background-color: #eee;
}

.silly-story-generator h1 {
    margin: 0;
    text-align: center;
}

.silly-story-generator label,
.silly-story-generator span {
    font-style: italic;
}

.silly-story-generator input[type="text"] {
    font-size: 1rem;
}

.silly-story-generator button {
    font-size: 1rem;
    font-family: monospace;
}

.silly-story-generator p {
    background: #fff;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    line-height: 1.5rem;
    visibility: hidden;
}
